@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    text-align: center;
    background-color: #011F3F;

  }
  
  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin:  5%;
    color: #FEF2BF;
  }

  .container {
    display: flex;
    width: 50%;
    height: 60%;
    margin: auto;
    flex-direction: column;
  
  }

  #enter{
    cursor: pointer !important;
    color: rgb(53, 0, 128);
  }
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  
  .yellow {
    background-color: yellow;
  }

  .orange {
    background-color: orange;
   
  }

  .purple {
    background-color: purple;
    
  }
  
  .row-for-difficult-level{
    display: none;
  }

  .pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn {
    flex: 1;
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 100px;
    border: 10px solid black;
    border-radius: 20%;
    cursor: pointer;
  }

  .pixel-btn {
    background-color: #000;
    font-family:'Press Start 2P', cursive;
    color: #eee8ce;
    border: 3px solid;
    padding: 0.25em 0.75em;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    display: none;
    border-radius: 8px;
    -moz-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    -webkit-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;

  }
  
  .pixel-btn:hover {
    background-color: #f00;
  }

  .pixel-btn:active {
    -moz-box-shadow: 0px 0px 0px 0px;
    -webkit-box-shadow: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }

   .gear {
    cursor: pointer;
    background-color: inherit;
    border: none;
    color: #eee8ce;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    border: none;
    cursor: pointer;
    
  }

  .gear:hover{
    opacity: 0.6;
  }
  
  .dropdown-content {
    display: none;
    position: block;
    z-index: 1;
    font-size: 10px;
    min-width: 160px;
    z-index: 1;
    
  }
  
  .dropdown-content a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive; 
    color: #eee8ce;
  }
  
  .dropdown-content a:hover {
    color: #0ead30;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .pixel-block {
    display: flex;
    flex-wrap: wrap;
  }

  .heart {
    transform: scale(0.4);
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-right: 40px;
    width: 1em;
    height: 1em;
    box-shadow:
    1em 0em #F22613,
    2em 0em #F22613,
    4em 0em #F22613,
    5em 0em #F22613,
  
    0em 1em #F22613,
    1em 1em #F22613,
    2em 1em #F22613,
    3em 1em #F22613,
    4em 1em #F22613,
    5em 1em #F22613,
    6em 1em #F22613,
  
    0em 2em #F22613,
    1em 2em #F22613,
    2em 2em #F22613,
    3em 2em #F22613,
    4em 2em #F22613,
    5em 2em #F22613,
    6em 2em #F22613,
  
    1em 3em #F22613,
    2em 3em #F22613,
    3em 3em #F22613,
    4em 3em #F22613,
    5em 3em #F22613,
  
    2em 4em #F22613,
    3em 4em #F22613,
    4em 4em #F22613,
  
    3em 5em #F22613;
  }
  

